<div class="container">
  <div class="text-center gimme-space-top">
    <h1>Game of Thrones Deadpool!</h1>
    <h4>Who will survive the night!?</h4>

    <img
      class="img img-fluid gimme-space-top"
      src="https://cnet3.cbsistatic.com/img/J6WsvoDsr_5GZUfX6uYkbgRnl4U=/2019/03/04/3055d4ad-ad09-4924-9132-eb790c0633af/jonsnowonthronegot.jpg"
    />

    <div class="button-row gimme-space-top">
      <button class="gimme-space" mat-raised-button (click)="goToPage('contestants')">
        <mat-icon>whatshot</mat-icon> <span> Characters</span>
      </button>

      <button class="gimme-space" mat-raised-button (click)="goToPage('fantasy')">
        <mat-icon>favorite</mat-icon> <span> Fantasy</span>
      </button>
    </div>
  </div>
</div>
