<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" role="dialog" mode="over" opened="false">
        <mat-toolbar></mat-toolbar>
        <mat-nav-list>
            <a mat-list-item routerLink="home" routerLinkActive="router-link-active" (click)="drawer.toggle()">
                <mat-icon>home</mat-icon> <span class="gimme-space-left">Home</span>
            </a>
            <a mat-list-item routerLink="contestants" routerLinkActive="router-link-active" (click)="drawer.toggle()">
                <mat-icon>local_bar</mat-icon> <span class="gimme-space-left">Contestants</span>
            </a>
            <a mat-list-item routerLink="fantasy" routerLinkActive="router-link-active" (click)="drawer.toggle()">
                <mat-icon>favorite</mat-icon> <span class="gimme-space-left">Fantasy</span>
            </a>
            <a mat-list-item routerLink="scoreboard" routerLinkActive="router-link-active" (click)="drawer.toggle()">
                <mat-icon>insert_chart</mat-icon> <span class="gimme-space-left">Scoreboard</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="black">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span><a class="text-white" routerLink="home">Bachelor PWA</a></span>
        </mat-toolbar>
        <!-- Add Content Here -->
        <!-- <button (click)="openSnackBar('Testing', 'Action')">Test Snackbar</button> -->
        <router-outlet></router-outlet>

    </mat-sidenav-content>
</mat-sidenav-container>