.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background: black;

  span {
    color: white;
  }
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}


.gimme-space-left {
    margin-left: 15px;
}

mat-sidenav-container {
    background: white;

    mat-icon {
        fill: white;
        color: white;
    }

    mat-toolbar {
        background: black;

        span {
            color:#9d9d9d;
        }
    }

    mat-nav-list {
       span {
            color:#9d9d9d;
        }

        .router-link-active {
          span {
            color: white;
          }
        }

        a:hover {
          opacity: 0.7;
        }
    }

}