<div class="container">
  <div class="text-center gimme-space-top">
    <h2>The Contestants</h2>
    <p><i>*Click each contestant below to mark as eliminated</i></p>

    <div *ngIf="contestants && isLoaded; else spinner" class="gimme-space-top">
      <button mat-raised-button class="gimme-space-left" (click)="toggleEliminatedContestants()">Toggle Eliminated
        Contestants</button>


      <div *ngFor="let contestant of contestants" class="gimme-space-top">
        <ng-container *ngIf="showEliminatedContestants || !contestant.isDumped">
          <h4>{{contestant.name}} <span class="red-text" *ngIf="contestant.isDumped"> - Eliminated!</span></h4>
          <div>{{contestant.occupation}}</div>
          <button class="contestant-button" (click)="toggleContestant(contestant)">
            <img class="img-fluid contestant-image" [style.opacity]="contestant.isDumped ? '0.7' : '1.0'" [src]="contestant.imageUrl">
          </button>
          <div class="button-row">
            <button [color]="contestant.selectedBy === 'Amber' ? 'primary' : ''" mat-raised-button class="gimme-space"
              (click)="saveToUser('Amber', contestant)">Amber</button>
            <button [color]="contestant.selectedBy === 'Patrick' ? 'primary' : ''" mat-raised-button class="gimme-space"
              (click)="saveToUser('Patrick', contestant)">Patrick</button>
            <button [color]="!contestant.selectedBy ? 'primary' : ''" mat-raised-button class="gimme-space" (click)="saveToUser('None', contestant)">None</button>
          </div>
        </ng-container>
      </div>
    </div>
    <ng-template #spinner>
      <mat-spinner class="spinner-center"></mat-spinner>
    </ng-template>
    <!-- <div [innerHtml]="contestants$ | async | json"></div> -->