.contestant-button {
    border: none;
    background: none;
}

.button-row {
    .gimme-space {
        margin: 5px;
    }
}

.gimme-space-left {
    margin-left: 5px;
}

.spinner-center {
    margin: auto;
}