.contestant-button {
    border: none;
    background: none;
}

.button-row {
    .gimme-space {
        margin: 5px;
    }
}

.gimme-space-left {
    margin-left: 5px;
}

.spinner-center {
    margin: auto;
}

.red-text {
    color: red;
    font-weight: bold;
}

.img-dumped {
    opacity: 0.7;
}

.img-normal {
    opacity: 1.0;
}